<p style="text-align: center;">
  Please follow the link to verify this email
  <a href="<%= emailLink %>" style="border: none;
    width: 300px;
    height: 60px;
    margin: auto; 
    margin-top: 50px;
    line-height: 60px;
    background-color: #00A956;
    color: #FFFFFF;
    font-size: 20pt;
    text-align: center;
    display: block;
    text-decoration: none;">Email Verification</a>
</p>